<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256572051112-97nq7o3m5tnvpe0g629lvkuc14na8l4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256572051112-97nq7o3m5tnvpe0g629lvkuc14na8l4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ4ujwpjTyzQuwQ6YeAKvqnXUgmXYsjTo</string>
	<key>GCM_SENDER_ID</key>
	<string>256572051112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reci-track.gps.GPS</string>
	<key>PROJECT_ID</key>
	<string>recitracktransporte-7d0e9</string>
	<key>STORAGE_BUCKET</key>
	<string>recitracktransporte-7d0e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256572051112:ios:20075e819b55e85b3ebc9d</string>
</dict>
</plist>